.sidebar {
    transition-duration: 1000ms;
    display: none;

}

.sidebar.open {
    background-color: lightblue;
    display: flex;
}





.background {
}
.nav {

    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    line-height: 105%;
  display: block;

}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: #0066cc;
    color: #0066cc;
}

.nav a.active {
    color: #002e5c;

}

.close {
    color: black;

}

.close img {

}
