.button {
    background-color: #0066cc;

}

.disabled {
}

.secondary {
}

.default {
    background-color: #0066cc;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    opacity: 0.8;
}

.red:hover {

}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
